@using ProjectCore.Domain.Entities.Bestellingen @*TODO: nakijken, nodig?*@
@model  KledijModule.Areas.Admin.Pages.Orders.DetailsModel.OrderDetailsViewModel.OrderItem

@*TODO: dit hieronder mag weg, wegdoen na testen overzet naar azuread login*@
@{
    var id = $"person-{Model.Id}";
}

<tr id="@id">
        <td class="text-center">@Model.ProductNaam</a></td>
        <td class="text-center">@Model.Hoeveelheid</td>
        <td class="text-center">@Model.Prijs punten</td>
    <td class="text-center">@((Model.Hoeveelheid * Model.Prijs)) punten</td>
        <td class="text-center">
            <label asp-for="OrderStatus" class="d-none">OrderStatus</label>
            <select asp-for="OrderStatus" class="input" asp-items="@Html.GetEnumSelectList<OrderStatus>()">
            </select>
        </td>
        <td class="text-center">
            <button class="btn btn-primary"
                    hx-post="@Url.Page("Details", "Update", new {Model.Id})"
                    hx-swap="outerHTML"
                    hx-target="closest tr"
                    hx-include="#@id select">
                <i class="fa-solid fa-save"></i>
                <span>Save</span>
            </button>
            <button class="btn btn-warning"
                    hx-get="@Url.Page("Details", "Row", new {Model.Id})"
                    hx-swap="outerHTML"
                    hx-target="closest tr">
                <i class="fa fa-exclamation-triangle"></i>
                <span>Cancel</span>
            </button>
        </td>
</tr>