@page
@using KledijModule.Areas.Admin.Pages.Catalogus.Categories
@model IndexModel
@{
}

@{
    ViewData["Title"] = "Index";
}

<div class="table-responsive border-0">
    <form method="post">
        <div class="d-flex justify-content-end my-3 clearfix">
            <h3 class="me-auto">Categorieën</h3>

            <a asp-page="Create" class="btn btn-success me-1"><i class="fa-solid fa-plus"></i> Categorie Toevoegen</a>
            <button class="btn btn-danger me-1" asp-page="./Delete"><i class="fa-solid fa-trash"></i> Verwijder (selected)</button>
        </div>
        <table class="table align-middle text-center">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        @Html.DisplayNameFor(model => model.Categorieen[0].Naam)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Categorieen[0].ParentCategorie)
                    </th>
                    <th>Acties</th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model.Categorieen) {
                <tr>
                        <td><input type="checkbox" name="Command.Categories" value="@item.Id" /></td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Naam)
                    </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ParentCategorie.Naam)
                        </td>
                    <td>
                            <a class="btn btn-default" asp-page="./Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
                    </td>
                </tr>
        }
            </tbody>
        </table>
    </form>
</div>