@page
@using KledijModule.Areas.Identity.Pages.Account.Orders
@using System.Security.Claims
@model IndexModel
@{
    var gebruikerId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
}
<div>
    <h4>OrderDetails</h4>
    <hr />
    <dl class="row">
        <dd class="col-sm-12 text-center">
            @foreach (var order in Model.Orders)
            {
                <table class="table table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th>Datum bestelling</th>
                            <th>Artikel</th>
                            <th>Aantal</th>
                            <th>Maat</th>
                            <th>Subtotaal</th>
                            <th>Status</th>
                            <th>Acties</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var orderItem in order.OrderItems)
                        {
                            <tr id="OrderItemRow-@orderItem.Id">
                                @if (order.OrderItems.IndexOf(orderItem) == 0)
                                {
                                    <td rowspan="@order.OrderItems.Count">@order.CreatedDate</td>
                                }
                                <td>
                                    @if(orderItem.ProductId != Guid.Empty)
                                    {
                                        <a href="@Url.Page("/Catalogus/ProductDetails", new { Id = orderItem.ProductId })">@orderItem.ProductNaam</a>
                                    }
                                    else
                                    {
                                        @orderItem.ProductNaam
                                    }
                                </td>
                                <td>@orderItem.Hoeveelheid</td>
                                <td>@orderItem.Maat</td>
                                <td>@(orderItem.Punten * orderItem.Hoeveelheid)</td>
                                <td id="OrderItemStatus-@orderItem.Id">
                                    @orderItem.OrderStatus
                                </td>
                                <td id="OrderItemActies-@orderItem.Id">
                                    <form id="cancel-form">
                                        @Html.AntiForgeryToken()
                                        <button type="submit" class="btn btn-outline-danger cancel-btn" data-id="@orderItem.Id">
                                            <i class="fa-solid fa-ban me-2"></i> Annuleer
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <hr/>
            }
        </dd>
    </dl>
</div>
@section Scripts{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            // Haal de tokenwaarde uit de meta-tag of andere bron
            var antiForgeryToken = $('input[name="__RequestVerificationToken"]').val();

            // Event handler for the cancel button
            $('.cancel-btn').on('click', function (event) {
                event.preventDefault();

                var button = $(this);
                var orderId = button.data('id');

                $.ajax({
                    url: '@Url.Page("", "Cancel")',
                    type: 'POST',
                    headers: {
                        'RequestVerificationToken': antiForgeryToken
                    },
                    data: { OrderItemId: orderId },
                    success: function (response) {
                        $('#OrderItemStatus-' + orderId).html('<span>Geannuleerd</span>');
                        $('#OrderItemActies-' + orderId).html('');
                    },
                    error: function (xhr, status, error) {
                        alert('Er is een fout opgetreden: ' + xhr.responseText);
                        console.error('An error occurred:', error);
                    }
                });
            });
        });
    </script>


}