@page
@using KledijModule.Areas.Identity.Pages.Account.Orders
@using System.Security.Claims
@model IndexModel
@{
    var gebruikerId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
}
<div>
    <h4>OrderDetails</h4>
    <hr />
    <dl class="row">
        <dd class="col-sm-12 text-center">
            @foreach (var order in Model.Orders)
            {
                <table class="table table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th>Datum bestelling</th>
                            <th>Artikel</th>
                            <th>Aantal</th>
                            <th>Subtotaal</th>
                            <th>Status</th>
                            <th>Acties</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var orderItem in order.OrderItems)
                        {
                            <tr>
                                @if (order.OrderItems.IndexOf(orderItem) == 0) 
                                {
                                    <td rowspan="@order.OrderItems.Count">@order.CreatedDate</td> <!-- Rowspan set to the count of order items -->
                                }
                                <td>@orderItem.ProductNaam</td>
                                <td>@orderItem.Hoeveelheid</td>
                                <td>@(orderItem.Punten * orderItem.Hoeveelheid)</td>
                                <td id="OrderItemStatus-@(orderItem.Id)">@orderItem.OrderStatus</td>
                                <td>
                                    <form method="post" hx-post="@Url.Page("","Cancel")" hx-target="#OrderItemStatus-@(orderItem.Id)">
                                        <input type="hidden" asp-for="Data.OrderItems" value="@orderItem.Id">
                                        <button type="submit" class="btn btn-outline-danger">
                                            <i class="fa-solid fa-ban me-2"></i> Annuleer
                                        </button>
                                </form></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <hr/>
            }
        </dd>
    </dl>
</div>
