@page
@using System.Security.Claims
@model IndexModel
@{
}
<div class="row">
    <div class="col" id="categories" hx-get="@Url.Page("","CategoriesList")" hx-trigger="load" hx-target="#categories" hx-swap="innerHTML">
        <img id="loading" class="htmx-indicator" src="~/img/loading.svg" alt="search" />
    </div>

    <div class="col-10">
        <div class="card p-4 mb-3">
        <form method="get">
            <div class="input-group mb-3">
                <span class="input-group-text" id="search-addon">
                    <img id="loading" class="htmx-indicator m-1" src="~/Images/bars.svg" alt="search"/>
                    <i class="fa-solid fa-magnifying-glass"></i>
                </span>
                <input type="text"
                       asp-for="Query"
                       id="query"
                       autocomplete="off"
                       hx-get="@Url.Page("Index")"
                       hx-target="#results"
                       hx-trigger="keyup changed delay:500ms"
                       hx-indicator="#loading"
                       placeholder="Zoek een artikel"
                       class="form-control"
                       aria-label="Username"
                       aria-describedby="search-addon">
                <input type="hidden" asp-for="Categorie" />
                <input type="hidden" name="userId" value="@User.FindFirst(ClaimTypes.NameIdentifier)?.Value" /> <!--Voor gebruik in javascript-->
            </div>
            <label asp-for="OnlyFavorites">Enkel favorieten 
                    <input type="checkbox" asp-for="OnlyFavorites" hx-trigger="change" hx-get="@Url.Page("Index")" hx-target="#results" hx-indicator="#loading" hx-push-url="true" />
            </label>          
            @Html.AntiForgeryToken()
        </form>

            <section class="text-center" id="products">
                <div class="row" id="results">
                    <partial name="_ProductenLijst" model="@Model" />
                </div>
            </section>
        </div>
    </div>
</div>
<script>
    //om ervoor te zorgen dat als htmx de inhoud swapt, de click event terug geconnecteerd wordt aan de favoritestar
    document.addEventListener('htmx:afterSwap', function (event) {
        // Inside this function, your existing jQuery code searching for ".favoriteStar" will work
        $(document).ready(function () {
            console.log("test");
            $(".favoriteStar").click(function () {
                var productId = $(this).data("product-id");
                var userId = $('input[name="userId"]').val();
                var $star = $(this);
                var token = $('input[name="__RequestVerificationToken"]').val();

                $.ajax({
                    url: '@Url.Page("", "SetFavorite")',
                    type: 'POST',
                    data: {
                        __RequestVerificationToken: token,
                        ProductId: productId,
                        UserId: userId
                    },
                    success: function (response) {
                        $star.toggleClass('far fas');
                    },
                    error: function () {
                        console.error('Er is een fout opgetreden.');
                    }
                });
            });
        });
    });
</script>

@section Scripts {
    <script>

        $(document).ready(function () {
            console.log("test");
            $(".favoriteStar").click(function () {
                var productId = $(this).data("product-id");
                var userId = $('input[name="userId"]').val();
                var $star = $(this);
                var token = $('input[name="__RequestVerificationToken"]').val();

                $.ajax({
                    url: '@Url.Page("", "SetFavorite")',
                    type: 'POST',
                    data: {
                        __RequestVerificationToken: token,
                        ProductId: productId,
                        UserId: userId
                    },
                    success: function (response) {
                        $star.toggleClass('far fas');
                    },
                    error: function () {
                        console.error('Er is een fout opgetreden.');
                    }
                });
            });
        });
    </script>
}