@model FotosForProductTable.FotosForProductTableViewComponent.FotosForProductViewModel

<table class="table align-middle text-center">
    <thead>
        <tr>
            <th>Foto</th>
            <th>Display Order</th>
            <th>Acties</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var foto in Model.Fotos)
        {
            <tr id="image-@foto.Id">
                <td>
                    <img src="@foto.ImageUrl" alt="" style="width:100px; height:100px;" />
                </td>
                <td>@foto.Volgorde</td>
                <td>
                    <form hx-post="@Url.Page("DeleteImageFromProduct")" hx-vals='{"FotoId": "@foto.Id"}' hx-target="#image-@foto.Id">
                            @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-default"><i class="fa-solid fa-trash"></i> Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>